/* Global styles */
body {
    /* ... existing styles ... */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Container styles */
.container {
    width: 100%;
    max-width: 1200px; /* Set a max-width to contain the content within a central column */
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
}

.link-container {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center the link container */
    margin-bottom: 20px; /* Space between link containers */
    width: 100%; /* Full width of the container */
}

.link-text {
    opacity: 0.7;
    margin-right: 20px; /* Space between text and images */
    text-align: right;
    white-space: nowrap; /* Ensure the text does not wrap */
}

/* Styles for images */
.container a img {
    width: 200px; /* Fixed width for the square GIFs */
    height: 200px; /* Fixed height for the square GIFs */
    object-fit: cover; /* Crop the image to fill the area */
}

/* Specific styles for the JPEG to maintain its original portrait orientation */
.container a[href="headquarters.html"] img {
    object-fit: contain; /* Ensures the whole image is visible */
}

/* Collect Lawb Lore Section */
.collect-lawb-lore {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
    text-align: center; /* Center text */
    margin-bottom: 20px; /* Space below the section */
}

@media (max-width: 600px) {
    .link-container {
        flex-direction: column; /* Stack items vertically on mobile */
        align-items: center; /* Center items on mobile */
    }

    .link-text {
        text-align: center; /* Center text on mobile */
        margin-right: 0; /* No margin on the right on mobile */
        margin-bottom: 10px; /* Space between text and image */
    }

    .container a img {
        width: 50vw; /* 50% of the viewport width */
        height: 50vw; /* 50% of the viewport height for square GIFs */
        margin: 0; /* Reset margins */
    }

    .container a[href="headquarters.html"] img {
        height: auto; /* Maintain the aspect ratio */
    }
}
