/* Global styles */
body, html {
    font-family: 'Impact', sans-serif;
    color: white;
    text-align: center;
    background-image: url('images/oceanfloor.gif');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin: 0;
    padding: 0 0 20px 0;
    cursor: url('images/lawbpointer.png'), auto; /* Corrected path for custom cursor */
}

/* Navigation bar styles */
nav {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    cursor: url('images/lawbpointer.png'), pointer; /* Corrected path and pointer for links */
}

/* Main content styles - centered container */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

/* Full Height Container */
.full-height-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 50px;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.link-text {
    opacity: 0.7;
    margin-right: 20px;
    text-align: right;
    white-space: nowrap;
}

/* Styles for images on index.html within link-container */
.link-container a img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Responsive styles for mobile */
@media (max-width: 600px) {
    .link-container {
        flex-direction: column;
        align-items: center;
    }

    .link-text {
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .container a img,
    .main-content img { 
        width: 100%;
        height: auto;
        margin: 0;
    }
}

/* Desktop specific styles */
@media (min-width: 1024px) {
    .link-container a img {
        max-width: 80%; /* Adjust as needed */
        margin: auto;
    }
}

/* Styles specific to headquarters.html */
.headquarters-body {
    background-image: url('images/1223997476-1.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Styles specific to lawbstation.html */
.lawbstation-body {
    background-image: url('images/1223997476-1.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
